
* {
	font-family: sans-serif, ariel;
	display: block;
}
.top {
	height : 80px;
	font-size: 40px;
	text-align: center;
	padding-top: 1%;
	font-family: sans-serif,ariel;
}

#calculator {
	height: 400px;
	width: 350px;
	margin: auto;
	border: 1px solid black;
	padding: 1%;
	border-radius: 10px;
}

#listner {
	background-color: #e5e5e5;
	height: 60px;
	line-height: 184%;
	text-align: right;
	font-size: 35px;
	margin: 0;
	border : 1px solid #666;
}

#input {
	padding-right: 3%;
}


#listner, #keyboard {
	border-radius: 3px;
	margin-top: 5%;
}

#keyboard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 300px;
}
.line {
	display: table-cell;
	display: flex;
	justify-content: space-between;
	width: 100%;
	vertical-align: middle;
}

.click {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	line-height: 150%;
	width: 18%;n
	height: 25%;
	text-align: center;
	border-radius: 3px;
	font-size: 30px;
	padding: 2% 0;
}

.click:after {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

.digit, .operator, .equal {
	background-color: #e5e5e5;
	border : 1px solid #666;
}

.special {
	background-color: #ff0000;
	border : 1px solid #a00000;

}

.click:hover {
	background-color: #666;
	color: #fff;
}

