body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 20;
	background-color: #ddd;
	text-align: center;
}

a {
	margin: 15px 35px;
	display:inline-block;
	font-size:20px; 
	font-family: ariel, sans-serif;
	text-decoration: none;
	color: #333;
}



.wrapper{
	width: 600px;
	margin: 0 auto;
}

img {
	height: 400px;
}

#slider {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto;
}

#slider>img{
	height: 400px;
	width: 600px;
	float: left;
	display: hidden;
}

a.button{
	padding: 5px 10px;
	background-color: #f0f0f0;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
}

a.left{
	float: left;
}
a.right{
	float: right;
}