.wrapper{
	width: 600px;
	margin: 0 auto;
}

img {
	height: 400px;
}

#slider {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 30px auto;
}

#slider>img{
	height: 400px;
	width: 600px;
	float: left;
	display: hidden;
}

a{
	padding: 5px 10px;
	background-color: #f0f0f0;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
}

a.left{
	float: left;
}
a.right{
	float: right;
}